<!DOCTYPE html>
<html>
<head>
    <title>My website</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>{{ name }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto at commodi debitis dignissimos dolor
    ex explicabo magnam magni natus necessitatibus nostrum officiis pariatur quis rem, sint veniam voluptas.</p>
<script src="static/script.js"></script>
</body>
</html>

